#!/bin/bash

set -e
LOGFILE=/srv/www/{{ app_name }}/logs/{{ app_name }}.log
LOGDIR=$(dirname $LOGFILE)
NUM_WORKERS={{ gunicorn_workers }}

# user/group to run as
USER={{ app_name }}
GROUP={{ app_name }}

{% for variable_name, value in django_environment.items() %}
export {{ variable_name }}="{{ value }}"
{% endfor %}
{% if enable_newrelic == 'yes' %}
export NEW_RELIC_CONFIG_FILE=/srv/www/{{ app_name }}/newrelic.ini
{% endif %}

cd /srv/www/{{ app_name }}/code
source /srv/www/{{ app_name }}/venv/bin/activate

test -d $LOGDIR || mkdir -p $LOGDIR

exec {% if enable_newrelic == 'yes' %}newrelic-admin run-program {% endif %}gunicorn {{ app_name }}.wsgi:application -w $NUM_WORKERS \
  --timeout=300 --user=$USER --group=$GROUP --log-level=debug \
  {% if gunicorn_port %}-b localhost:{{ gunicorn_port }}{% endif %} --log-file=$LOGFILE 2>> $LOGFILE
