server {
    listen 443 ssl http2;
    server_name {{ domain_names }};

    ssl_certificate       /etc/acme.sh/live/{{ cert_check.stdout }}/cert.pem;
    ssl_certificate_key   /etc/acme.sh/live/{{ cert_check.stdout }}/key.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # modern settings from the Mozilla SSL config generator
    # https://mozilla.github.io/server-side-tls/ssl-config-generator/
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_stapling on;
    ssl_stapling_verify on;

    # enable hsts
    add_header Strict-Transport-Security "max-age=31536000;";

    client_max_body_size 50M;

    # no security problem here, since / is alway passed to upstream
    root /srv/www/{{ app_name }}/code/{{ app_name }};

    # favicon
    location /favicon.ico {
        log_not_found off;
        root /srv/www/{{ app_name }}/static/;
        expires 24h;
        gzip on;
        gzip_types image/x-icon;
    }

    # serve directly - analogous for static/staticfiles
    location /static/ {
        root /srv/www/{{ app_name }}/;
        gzip on;
        gzip_types application/eot application/x-otf application/font application/x-perl application/font-sfnt application/x-ttf application/javascript font/eot application/json font/ttf application/opentype font/otf application/otf font/opentype application/pkcs7-mime image/svg+xml application/truetype text/css application/ttf text/csv application/vnd.ms-fontobject application/xhtml+xml text/javascript application/xml text/js application/xml+rss text/plain application/x-font-opentype text/richtext application/x-font-truetype text/tab-separated-values application/x-font-ttf text/xml application/x-httpd-cgi text/x-script application/x-javascript text/x-component application/x-mpegurl text/x-java-source application/x-opentype;
        expires 24h;
    }

    location /media/ {
        root /srv/www/{{ app_name }}/;
        gzip on;
        gzip_types application/eot application/x-otf application/font application/x-perl application/font-sfnt application/x-ttf application/javascript font/eot application/json font/ttf application/opentype font/otf application/otf font/opentype application/pkcs7-mime image/svg+xml application/truetype text/css application/ttf text/csv application/vnd.ms-fontobject application/xhtml+xml text/javascript application/xml text/js application/xml+rss text/plain application/x-font-opentype text/richtext application/x-font-truetype text/tab-separated-values application/x-font-ttf text/xml application/x-httpd-cgi text/x-script application/x-javascript text/x-component application/x-mpegurl text/x-java-source application/x-opentype;
        expires 24h;
    }

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Scheme $scheme;
        proxy_connect_timeout {{ nginx_timeout }};
        proxy_read_timeout {{ nginx_timeout }};
        proxy_pass http://localhost:{{ gunicorn_port }}/;
    }
}

server {
    listen 80;
    server_name {{ domain_names }};

    location /.well-known/acme-challenge/ {
        alias /var/www/challenges/;
        try_files $uri =404;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}
